<p id="notice"><%= notice %></p>

<p>
  <b>Closing date:</b>
  <%= @sold_property.closing_date %>
</p>

<p>
  <b>Subdivision:</b>
  <%= @sold_property.subdivision %>
</p>

<p>
  <b>List price:</b>
  <%= @sold_property.list_price %>
</p>

<p>
  <b>Sold price:</b>
  <%= @sold_property.sold_price %>
</p>

<p>
  <b>Square feet:</b>
  <%= @sold_property.square_feet %>
</p>

<p>
  <b>Year built:</b>
  <%= @sold_property.year_built %>
</p>

<p>
  <b>Bedrooms:</b>
  <%= @sold_property.bedrooms %>
</p>

<p>
  <b>Bathrooms:</b>
  <%= @sold_property.bathrooms %>
</p>

<p>
  <b>Land square feet:</b>
  <%= @sold_property.land_square_feet %>
</p>

<p>
  <b>Floors:</b>
  <%= @sold_property.floors %>
</p>

<p>
  <b>Seller1:</b>
  <%= @sold_property.seller1 %>
</p>

<p>
  <b>Seller2:</b>
  <%= @sold_property.seller2 %>
</p>

<p>
  <b>Flooring:</b>
  <%= @sold_property.flooring %>
</p>

<p>
  <b>Kitchen:</b>
  <%= @sold_property.kitchen %>
</p>

<p>
  <b>Cso:</b>
  <%= @sold_property.cso %>
</p>

<p>
  <b>Mlr:</b>
  <%= @sold_property.mlr %>
</p>

<p>
  <b>Days on market:</b>
  <%= @sold_property.days_on_market %>
</p>

<p>
  <b>Address:</b>
  <%= @sold_property.address %>
</p>

<p>
  <b>Selling agent:</b>
  <%= @sold_property.selling_agent %>
</p>

<p>
  <b>Office name:</b>
  <%= @sold_property.office_name %>
</p>

<p>
  <b>Listing agent:</b>
  <%= @sold_property.listing_agent %>
</p>

<p>
  <b>Base taxes:</b>
  <%= @sold_property.base_taxes %>
</p>


<%= link_to 'Edit', edit_sold_property_path(@sold_property) %> |
<%= link_to 'Back', sold_properties_path %>
