<h1>Listing stock_markets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stock_markets.each do |stock_market| %>
  <tr>
    <td><%= stock_market.name %></td>
    <td><%= stock_market.code %></td>
    <td><%= link_to 'Show', stock_market %></td>
    <td><%= link_to 'Edit', edit_stock_market_path(stock_market) %></td>
    <td><%= link_to 'Destroy', stock_market, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stock market', new_stock_market_path %>
